<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../upload.css"
          th:href="@{/upload.css}" type="text/css" media="all">
</head>
<body>
<h1>File Upload</h1>
<hr/>
<h4>Upload File:</h4>
<form action="/uploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept="application/pdf, .docx, .doc" id="file"/> <br/><br/>
    <button type="submit">Submit</button>
</form>


<textarea class="text_box" id="text_box" th:text="${doctext}" cols="100" rows="30"></textarea>
</body>
</html>